@import "tailwindcss";

@theme {
  /* Custom Colors */

  --color-primary: #6965db;
  --color-primary-chubb: #625ee0;
  --color-primary-darker: #5b57d1;
  --color-primary-darkest: #4a47b1;
  --color-primary-light: #e2e1fc;

  --color-secondary: #223082;

  /* Custom BG Colors */

  --color-bg-yello: #fffceb;
  --color-bg-green: #d1fae5;
}
